In [1]:
x=10

In [2]:
print(x)

10

In [3]:
type(x)

int

In [4]:
x=10
y=20
z="Hello"

In [5]:
type(x)

int

In [6]:
type(y)

int

In [7]:
type(z)

str

In [8]:
x=10
y=20

In [9]:
y+x

30

In [10]:
x="india"
y="kerala "

In [14]:
y+x

'keralaindia'

In [15]:
x="10"
y="20"
x+y

'1020'

In [16]:
x=input("Enter a value")

Enter a valuehello momma olgah

In [20]:
x=int(input("Enter first number"))
y=int(input("Enter second number"))

Enter first number10
Enter second number25

In [21]:
x+y

35

In [22]:
marks=int(input("Enter your mark"))
if marks > 50:
  print("You are pass")
if marks < 50:
  print("You are fail")

Enter your mark76
You are pass

In [23]:
salary=int(input("You are salary"))
if salary > 250000:
  print("You are taxable")
if salary <250000:
  print("Youare not taxable")

You are salary300000
You are taxable

In [26]:
salary=int(input("Enter your salary"))
if salary > 250000:
  print("You are taxable")
  print(10/100*salary)
if salary < 250000:
  print("You are not taxable")

Enter your salary3500000
You are taxable
350000.0

In [28]:
salary=int(input("Enter your salary"))
if salary > 250000:
  print("You are taxable")
  print(salary-250000*10/100)
if salary < 250000:
  print("You are not taxable")

Enter your salary280000
You are taxable
275000.0

In [30]:
salary=int(input("Enter your salary"))
if salary > 500000:
  print("Your are taxable")
  print(salary-500000*0.2)
if salary < 500000:
  print("Your not taxable")

Enter your salary450000
Your not taxable

In [31]:
x=0
while x <100 :
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [32]:
x=1
while x < 100:
  print(x)
  x=x+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
x=0
paper=0
while x< 100:
  paper = x+paper
  x = x+1
  print(paper)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950